
<div style="padding:20px;">
  <div style="margin:10px;">
    <div class="row">
      <div class="col-6">
        <div>
          <h1>Storage Settings</h1>
        </div>

      </div>
      <div class="col-6" style="text-align: right;">
        Powered By : <img src="../../../assets/images/storjlogo.png" style="width:90px;" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">

        &nbsp;

      </div>
      <div class="col-6" style="text-align: right;">
        &nbsp;

      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-12">
          <h1>Coming Soon...</h1>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-12">
          <h3>Get 150GB Decentralized storage from Storj.IO</h3>
          <a href="https://eu1.storj.io/signup" target="_blank">Sign Up Here</a>
        </div>
      </div>
    </div>

  </div>
</div>

