<section style="display: flex;">
  <div class="col-12">
    <div class="row">
      <div class="col-3" style="margin-top:20px;">
        <p-panel>
          <p-header>
            Wordpress (Preview)
          </p-header>
          <div style="height: 200px;"><img src="./assets/images/wordpress-logo.png" style="width: 100%; border-radius: 2%;"  /></div>
          <p-footer>
            <button type="button" pButton label="Deploy" style="width:100%; margin-top:10px;" (click)="openDeployWordpressDialog(false)"></button>
          </p-footer>
        </p-panel>
      </div>
      <div class="col-3" style="margin-top:20px;">
        <p-panel>
          <p-header>
            Sugar CMR (Comming Soon)
          </p-header>
          <div style="height: 200px;"><img src="./assets/images/SugarCRM-Stacked-Full-Color.jpg" style="width: 100%; border-radius: 3%;" /></div>
          <p-footer>
            <button type="button" disabled pButton label="Deploy" style="width: 100%; margin-top: 14px;"></button>
          </p-footer>
        </p-panel>
      </div>
    </div>
  </div>
</section>
