
<div style="padding:20px;">
  <p-table [responsive]="true"
           [value]="peers"
           [style]="{'margin-top':'20px'}"
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
      xServer Network
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:200px;" [pSortableColumn]="'name'">Name</th>
        <th style="width:80px;" [pSortableColumn]="'tier'">Tier</th>
         <th [pSortableColumn]="'networkAddress'">Address</th>
         <th style="width:80px;" [pSortableColumn]="'version'">Version</th>
        <th style="width:80px;" [pSortableColumn]="'responseTime'">Ping</th>
        <th style="width:100px;" [pSortableColumn]="'responseTime'">Details</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-peer>
      <tr>
        <td class="text-left">
          {{peer.name}}
        </td>
        <td class="text-left" *ngIf="peer.tier === 0">
          <span class="ui-column-title">Tier</span>
          Offline

        </td>
        <td class="text-left" *ngIf="peer.tier === 1">
          <span class="ui-column-title">Tier</span>
          I

        </td>
        <td class="text-left" *ngIf="peer.tier === 2">
          <span class="ui-column-title">Tier</span>
          II

        </td>
        <td class="text-left" *ngIf="peer.tier === 3">
          <span class="ui-column-title">Tier</span>
          III

        </td>

        <td class="text-left" *ngIf="peer.networkProtocol === 1">
          <span class="ui-column-title">Address</span>
          http://{{peer.networkAddress}}:{{peer.networkPort}}

        </td>
        <td class="text-left" *ngIf="peer.networkProtocol === 2">
          <span class="ui-column-title">Address</span>
          https://{{peer.networkAddress}}

        </td>
        <td class="text-left" *ngIf="peer.networkProtocol === 0">
          <span class="ui-column-title">Address</span>
          https://{{peer.networkAddress}}

        </td>

        <td class="text-left">
          <span class="ui-column-title">Version</span>
          {{peer.version}}

        </td>
        <td class="text-left">
          <span class="ui-column-title">Ping</span>
          {{peer.responseTime}}

        </td>
        <td class="text-left">
          <span class="ui-column-title">Details</span>
          <a class="link" (click)="openDetailDialog(peer)">Details <i class="pi pi-arrow-circle-right"></i></a>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <!--<div class="text-center">
        <button type="button" (click)="goToHistory()" icon="pi pi-table" label="View all history"
                pButton></button>
      </div>-->
    </ng-template>
  </p-table>
</div>

<div>
  <div class="row">
    <div class="col-12" style="text-align:center">
      <h3>Want to spin up your own xServer?</h3>
      <a href="https://www.tkqlhce.com/click-100638521-13796470" target="_blank">Sign Up Here</a>
    </div>
  </div>
</div>
